body{
    background-image: url("../images/sarah-boyle-90075-unsplash.jpg");
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size:  cover;

}

Nav{
    height:50px;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}

Nav a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    line-height: 50px;
}

#well{
    position: absolute;
    color:white;
    background-color: rgba(0, 0, 0, .5);
    margin-left:35%;
    margin-top: 5%;
    text-align: center;
}


#clientQuery{
    width:20%;
    display: inline-block;
}

.search{
    margin: 10% auto;
    margin-left: 30px;
    position: absolute;
}